<?xml version="1.0"?>

<robot name="camera" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="camera" params="frame_prefix 
                                     parent
                                     *origin
                                     node_name:=camera
                                     topic_prefix:=/
                                     horizontal_fov:=80
                                     vertical_fov:=60
                                     video_width:=1280
                                     video_height:=720
                                     video_fps:=30">
  
    <joint name="${frame_prefix}_camera_base_joint" type="fixed">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <!--parent link="${frame_prefix}_fingers_link_R"/-->
      <parent link="${parent}"/>
      <child link="${frame_prefix}_camera_base_link"/>
    </joint>
    <link name="${frame_prefix}_camera_base_link">
      <visual>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <box size="0.025 0.05 0.025"/>
        </geometry>
        <material name="gray">
          <color rgba="0.29804 0.29804 0.29804 1.00000"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <box size="0.025 0.05 0.025"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0.00000 0.00000 0.00000"/>
        <inertia ixx="0.00001" ixy = "0" ixz = "0" iyy="0.00001" iyz = "0" izz="0.00001"/>
      </inertial>
    </link>
    
    <joint name="${frame_prefix}_camera_joint" type="fixed">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <!--parent link="${frame_prefix}_fingers_link_R"/-->
      <parent link="${frame_prefix}_camera_base_link"/>
      <child link="${frame_prefix}_camera_frame"/>
    </joint>
    <link name="${frame_prefix}_camera_frame"/>

    <joint name="${frame_prefix}_color_optical_joint" type="fixed">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <parent link="${frame_prefix}_camera_frame"/>
      <child link="${frame_prefix}_camera_optical_frame"/>
    </joint>
    <link name="${frame_prefix}_camera_optical_frame"/>

    <gazebo reference="${frame_prefix}_camera_frame">
      <sensor name="${frame_prefix}_sensor" type="camera">
      <visualize>true</visualize>
      <update_rate>30</update_rate>
      <topic>/${frame_prefix}/image</topic>
        <camera>
          <horizontal_fov>${radians(float(horizontal_fov))}</horizontal_fov>
          <image>
          <width>${video_width}</width>
          <height>${video_height}</height>
          <format>R8G8B8</format>
          </image>
          <clip>
          <near>0.10</near>
          <far>15.0</far>
          </clip>
          <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
          </noise>
          <optical_frame_id>${frame_prefix}_camera_frame</optical_frame_id>
        </camera>
      </sensor>
    </gazebo>

  
  </xacro:macro>
</robot>