<?xml version="1.0"?>

<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">

  <!--  includes  -->
  <xacro:include filename="$(find robot_rover)/urdf/utils/utils.urdf.xacro"/>
  <xacro:include filename="$(find robot_rover)/urdf/base/robot_base.urdf.xacro"/>
  <xacro:include filename="$(find robot_rover)/urdf/wheels/rover_wheel.urdf.xacro"/>
  <xacro:include filename="$(find robot_rover)/urdf/arm/scara.urdf.xacro"/>
  <xacro:include filename="$(find robot_rover)/urdf/arm/gripper.urdf.xacro"/>
  <xacro:include filename="$(find robot_rover)/urdf/sensors/camera.urdf.xacro"/>
  <xacro:include filename="$(find robot_rover)/urdf/sensors/imu_sensor.urdf.xacro"/>
  

  <!-- Propiedades -->
  <xacro:property name="front_camera_offset_x" value="1.55000"/>
  <xacro:property name="front_camera_offset_y" value="0.00000"/>
  <xacro:property name="front_camera_offset_z" value="0.50000"/>
  <xacro:property name="arm_camera_offset_x" value="0.00000"/>
  <xacro:property name="arm_camera_offset_y" value="0.00000"/>
  <xacro:property name="arm_camera_offset_z" value="-0.57500"/>

  <!--  argumentos  -->
  <xacro:arg name="robot_ns" default=""/>
  <xacro:arg name="prefix" default=""/>

  <!--  Robot Parts  -->

  <!--  Utils  -->
  <xacro:utils/>

  <!--  Base  -->
  <xacro:robot_base/>

  <!--  Wheels  -->
  <xacro:rover_wheel parent="base_link">
  </xacro:rover_wheel>

  <!--  Arm  -->
  <xacro:scara parent="base_link">
  </xacro:scara>
  <xacro:gripper parent="arm_link3_link_T">
  </xacro:gripper>

  <!--  sensores  -->
  <xacro:camera node_name="front_camera" frame_prefix="front_camera" parent="base_link">
    <origin xyz="${front_camera_offset_x} ${front_camera_offset_y} ${front_camera_offset_z}" rpy="0 0 1.57080"/>
  </xacro:camera>

  <xacro:camera node_name="arm_camera" frame_prefix="arm_camera" parent="arm_base_fingers_link_R" >
    <origin xyz="${arm_camera_offset_x} ${arm_camera_offset_y} ${arm_camera_offset_z}" rpy="0 1.57080 0"/>
  </xacro:camera>

  <xacro:imu_sensor parent="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </xacro:imu_sensor>

  <!--  Gazebo ROS control plugins  -->
  <xacro:include filename="$(find robot_rover)/urdf/ros2_control.urdf.xacro"/>
  <xacro:arg name="config_controllers" default="$(find robot_rover)/config/rover_controllers.yaml"/>
  <xacro:arg name="update_rate" default="20"/>
  <xacro:ros2_control/>

</robot>
