<?xml version="1.0"?>

<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="utils">

    <material name="Material">
      <color rgba="0.00000 0.00000 0.00000 1.00000"/>
    </material>
    <material name="Material.black">
      <color rgba="0.00000 0.00000 0.00000 1.00000"/>
    </material>
    <material name="Material.white">
      <color rgba="1.00000 1.00000 1.00000 1.00000"/>
    </material>
    <material name="Material.gray">
      <color rgba="0.29804 0.29804 0.29804 1.00000"/>
    </material>
    <material name="Material.blue">
      <color rgba="0.12353 0.16275 0.86667 1.00000"/>
    </material>
    <material name="Material.gray2">
      <color rgba="0.24706 0.24706 0.24706 1.00000"/>
    </material>

  </xacro:macro>
</robot>